/* 左侧菜单 start */
.menu-lside {
  text-align: left;
}
.menu-lside > li > a {
  position: relative;
  display: block;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}
.menu-lside > li > a > .item-badge {
  position: relative;
  vertical-align: top;
  padding-right: 15px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-lside > li.li-angle > a {
  padding-right: 35px;
}
.menu-lside > li.li-angle > a:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  width: 10px;
  height: 8px;
  background: url(../image/angle-down-white.png) no-repeat center center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.menu-lside > li.li-angle > a:active {
  background: #4b6fa1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.menu-lside > li.li-angle.open a:before {
  transform: rotate(180deg);
}
.menu-lside > li.active > a {
  background: #EFF1F3;
  color: #009EF9;
}
.menu-lside > li.active > a:before {
  background: url(../image/angle-down-white.png) no-repeat center center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu-lside ul {
  /* display: none; */
  position: relative;
}
.menu-lside ul:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #3D5371;
}
.menu-lside ul li {
  position: relative;
}
.menu-lside ul li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid #3D5371;
}
.menu-lside ul a {
  display: block;
  line-height: 40px;
  padding: 0 20px 0 30px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 14px;
}
.menu-lside ul a:hover {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.menu-lside ul li.active a {
  color: #009EF9;
  background: #EFF1F3;
  opacity: 1;
  filter: alpha(opacity=100);
}
.menu-lside .li-num a {
  padding-right: 40px;
}
.menu-lside .li-num .num {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}
/* 左侧菜单 end */

/* 右侧正文区域 */
.am-page-rside{
  position: absolute;
  left: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.iframeContainer {
  width:100%;
  height:100%;
  border: none;
  vertical-align: top;
}
.scrollbar-after-condition {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow: auto;
  padding: 0 20px 20px;
}
.am-condition {
  position: relative;
  padding: 10px 0;
}
.am-condition .right {
  position: absolute;
  right: 0;
  top: 10px;
}
.am-form {
  padding-top: 20px;
  margin-bottom: -20px;
}
.am-form-item {
  margin-bottom: 20px;
}
.am-form-item:before,
.am-form-item:after {
  content: "";
  display: table;
}
.am-form-item:after {
  clear: both;
}
.am-form-item.last {
  margin-bottom: 0;
}
.am-form-label {
  padding-top: 5px;
  margin-bottom: 0;
  text-align: right;
  padding-right: 10px;
  color: #777;
  line-height: 20px;
}
.am-form-label.static {
  padding-top: 0;
}
.am-ctr-native-chk,
.am-ctr-native-rdo {
  display: inline-block;
  position: relative;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: 16px;
  min-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.42857143;
  font-size: 14px;
}
.am-ctr-native-chk span,
.am-ctr-native-rdo span {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
}
/* .am-ctr-native-chk {
  background: transparent url(../image/ctr-chk-normal.png) no-repeat left 2px;
} */
.am-ctr-native-chk:hover {
  background: transparent url(../image/ctr-chk-hover.png) no-repeat left 8px;
}
.am-ctr-native-chk.active {
  background: transparent url(../image/ctr-chk-active.png) no-repeat left 2px;
}
.am-ctr-native-chk.active:hover {
  background: transparent url(../image/ctr-chk-active.png) no-repeat left 2px;
}
.am-ctr-native-chk.disabled {
  cursor: no-drop;
  background: transparent url(../image/ctr-chk-disabled.png) no-repeat left 2px;
}
.am-ctr-native-chk.disabled.active {
  background: transparent url(../image/ctr-chk-active-disabled.png) no-repeat left 2px;
}
/* .am-ctr-native-rdo {
  background: transparent url(../image/ctr-rdo-normal.png) no-repeat left 2px;
}
.am-ctr-native-rdo:hover {
  background: transparent url(../image/ctr-rdo-hover.png) no-repeat left 2px;
} */
.am-ctr-native-rdo.active {
  background: transparent url(../image/ctr-rdo-active.png) no-repeat left 2px;
}
.am-ctr-native-rdo.active:hover {
  background: transparent url(../image/ctr-rdo-active.png) no-repeat left 2px;
}
.am-ctr-native-rdo.disabled {
  cursor: no-drop;
  background: transparent url(../image/ctr-rdo-disabled.png) no-repeat left 2px;
}
.am-ctr-native-rdo.disabled.active {
  background: transparent url(../image/ctr-rdo-active-disabled.png) no-repeat left 2px;
}
.input-text {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: normal;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input-text:focus {
  border-color: #3ed086;
}
.input-text.am-input-lg {
  height: 40px;
  padding: 9px 12px;
  font-size: 14px;
}
.input-error,
.input-error:focus {
  border-color: #F4333C !important;
}
.explain-error {
  margin-bottom: -17px;
  line-height: 15px;
  color: #F4333C;
  font-size: 12px;
  padding-top: 2px;
}
.input-disabeld,
.input-disabeld:focus {
  border-color: #e5e5e5;
  background: #F3F3F3;
  color: #A5A5A5;
  cursor: no-drop;
}
select::-ms-expand {
  display: none;
}
.am-search {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
}
.am-search .input-text {
  width: 100%;
  padding-right: 30px;
  vertical-align: top;
}
.am-search .i-search {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: url(../image/i-search.png) no-repeat center center;
  border-radius: 0 2px 2px 0;
}
.am-search .am-dropdown {
  width: 100%;
  max-height: 210px;
  overflow: auto;
}
.am-search li {
  display: block;
  padding: 0 10px;
  color: #333;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  cursor: default;
}
.am-search li:hover {
  background: #F3F3F3;
}
.am-search li.disabled {
  cursor: no-drop;
  color: #A5A5A5;
  background: none;
}
.am-search li.active {
  color: #3ed086;
}
.am-ctr-sel {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.am-ctr-sel .caption {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  display: block;
  padding: 0 26px 0 10px;
  position: relative;
  line-height: 28px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
  overflow: hidden;
}
.am-ctr-sel .caption:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: url(../image/i-angle.png) no-repeat center center;
  transition: transform .3s;
}
.am-ctr-sel .caption:focus {
  border-color: #3ed086;
}
.am-ctr-sel li {
  display: block;
  padding: 0 10px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.am-ctr-sel li:hover {
  background: #F3F3F3;
}
.am-ctr-sel li.disabled {
  cursor: no-drop;
  color: #A5A5A5;
  background: none;
}
.am-ctr-sel li.active {
  color: #3ed086;
}
.am-ctr-sel .am-dropdown {
  width: 100%;
  max-height: 210px;
  overflow: auto;
}
.am-ctr-sel.open .caption {
  border-radius: 2px 2px 0 0;
}
.am-ctr-sel.open .caption:before {
  transform: rotate(180deg);
}
.am-ctr-sel-inner {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}
.am-ctr-sel-inner .caption {
  border-color: #fff;
}
.am-ctr-sel-inner .am-dropdown {
  width: 140px;
  border-top: 1px solid #d2d2d2;
}
.am-ctr-sel-inner.open .caption {
  border-color: #3ed086;
}
.sel-disabeld .caption {
  border-color: #e5e5e5;
  background: #F3F3F3;
  color: #A5A5A5;
  cursor: no-drop;
}
.sel-disabeld .caption:focus {
  border-color: #e5e5e5;
}
.sel-disabeld.open .am-dropdown {
  display: none;
}
.sel-disabeld.open .caption {
  border-color: #e5e5e5;
  border-radius: 2px;
}
.sel-disabeld.open .caption:before {
  transform: none;
}
.am-input-step {
  display: inline-block;
  position: relative;
  height: 30px;
  vertical-align: top;
  padding: 0 30px;
}
.am-input-step .pre {
  border: 1px solid #00AE58;
  border-right: none;
  left: 0;
  border-radius: 4px 0 0 4px;
  background: #00AE58 url(../image/i-step-minus.png) no-repeat center center;
}
.am-input-step .pre:hover {
  background-color: #00c865;
}
.am-input-step .pre.disabled {
  border-color: #e5e5e5;
  cursor: no-drop;
  background: #EBEBEB url(../image/i-step-minus-disabled.png) no-repeat center center;
}
.am-input-step .next {
  border: 1px solid #00AE58;
  border-left: none;
  right: 0;
  border-radius: 0 4px 4px 0;
  background: #00AE58 url(../image/i-step-plus.png) no-repeat center center;
}
.am-input-step .next:hover {
  background-color: #00c865;
}
.am-input-step .next.disabled {
  border-color: #e5e5e5;
  cursor: no-drop;
  background: #EBEBEB url(../image/i-step-plus-disabled.png) no-repeat center center;
}
.am-input-step .pre,
.am-input-step .next {
  position: absolute;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
}
.am-input-step .input-text {
  border-radius: 0;
  text-align: center;
}
.input-step-disabled .pre {
  background: #f3f3f3 url(../image/i-step-minus-disabled.png) no-repeat center center;
  cursor: no-drop;
}
.input-step-disabled .pre:hover {
  background: #f3f3f3 url(../image/i-step-minus-disabled.png) no-repeat center center;
}
.input-step-disabled .next {
  background: #f3f3f3 url(../image/i-step-plus-disabled.png) no-repeat center center;
  cursor: no-drop;
}
.input-step-disabled .next:hover {
  background: #f3f3f3 url(../image/i-step-plus-disabled.png) no-repeat center center;
}
.input-step-disabled .input-text {
  background: #f3f3f3;
  cursor: no-drop;
}
.input-step-disabled .input-text:focus {
  border-color: #d2d2d2;
}
.tb-parameter {
  margin: -10px 0 10px 0;
  width: auto;
}
.tb-parameter td {
  padding: 20px 5px 0 5px;
  line-height: 30px;
}
.tb-parameter .btn-plus-o {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #E5E5E5;
  line-height: 30px;
  text-align: center;
  background: url(../image/i-parameter-plus.png) no-repeat center center;
  cursor: pointer;
}
.tb-parameter .btn-plus-o:hover {
  background: url(../image/i-parameter-plus-hover.png) no-repeat center center;
  border-color: #3ed086;
}
.tb-parameter .input-text,
.tb-parameter .am-ctr-native-chk,
.tb-parameter .btn-plus-o {
  vertical-align: top;
}
.tb-parameter .am-ctr-native-chk {
  margin-top: 6px;
}
.h5-rline {
  position: relative;
  font-weight: 700;
  margin-top: 20px;
  /* margin-bottom: -10px; */
}
.h5-rline h5 {
  display: inline-block;
  position: relative;
  z-index: 3;
  background: #fff;
  margin: 0;
  font-size: 14px;
  padding-right: 10px;
  vertical-align: top;
}
.h5-rline:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px dashed #ccc;
}
am-tb-fixed-hd,
.am-tb-fixed-bd {
  overflow-x: auto;
  overflow-y: scroll;
}
.am-tb-fixed-bd td {
  border-top: none;
}
.am-tb-fixed-hd {
  overflow-x: hidden;
  position: relative;
}
.bd-scrollbar .am-tb-fixed-bd {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 61px;
  background: #fff;
  max-height: calc(100% - 81px);
}
.before {
  top: -999px;
  left: -999px;
}
.tb-parameter {
  margin: -10px 0 10px 0;
  width: auto;
}
.parameter-item-list-cont {
  display: none;
  max-height: 128px;
  background: #F7F7F7;
  margin-top: 10px;
  margin-bottom: -10px;
  overflow: auto;
}
.parameter-item-list-cont.active {
  display: block;
}
.parameter-item-list {
  padding: 0 0 8px 10px;
  font-size: 0;
}
.parameter-item-list .item {
  display: inline-block;
  vertical-align: top;
  margin: 8px 10px 0 0;
  min-width: 160px;
  font-size: 14px;
}
.i-angle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: url(../image/i-angle.png) no-repeat center center;
}
.plain-angle .i-angle {
  vertical-align: top;
  margin-top: 5px;
  background: url(../image/i-angle-green.png) no-repeat center center;
  transition: transform .3s;
}
.plain-angle:hover .i-angle {
  background: url(../image/i-angle-green-hover.png) no-repeat center center;
}
.plain-angle.active .i-angle {
  transform: rotate(180deg);
}

.am-file {
  border: 1px solid #3ed086;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  background: #fff;
  text-align: center;
  width: 80px;
  height: 30px;
}
.am-file input {
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 2;
  border: none;
  outline: none;
}
.am-file label {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 30px;
  line-height: 30px; */
  padding: 4px 12px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  color: #3ed086;
}
.am-file:hover {
  border-color: #269c60;
}
.am-file:hover label {
  color: #269c60;
}
.am-file img {
  max-width: 100%;
  max-height: 100%;
}
.am-file:after {
  /* content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle; */
}

.am-msg-h3,.padding20 {
  padding: 20px
}

.am-msg-h3 {
  line-height: 30px;
  text-align: center;
  font-size: 18px
}

.am-msg-h3>.inner {
  text-align: left
}

.msg-h3-fail>.inner {
  background: url(../image/msg-fail.png) left center no-repeat;
  padding-left: 40px
}

.am-msg-h3>.inner,.badge,.item-badge {
  display: inline-block
}
.am-msg-lg-info {
  text-align: center;
  padding: 40px 40px 0px 40px;
}
.am-msg-lg-info .inner {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  text-align: left;
}
.am-msg-lg-info .i-question-lg {
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url(../image/i-question-lg.png) no-repeat center center;
  background-size: 30px 30px;
}
.am-msg-lg-info h3 {
  padding-right: 24px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
}
.condition-mt {
  position: absolute;
  top: 10px;
  right: 20px;
}
.top0 {
  top: 0px;
}
/* 5.10 start*/
/*左侧和左侧菜单*/
.lside-secondary-menu {
  text-align: left;
}
.lside-secondary-menu > li > a {
  position: relative;
  display: block;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}
.lside-secondary-menu > li.li-angle > a {
  padding-right: 35px;
}
.lside-secondary-menu > li.li-angle > a:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  width: 10px;
  height: 8px;
  background: url(../image/i-angle-white.png) no-repeat center center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.lside-secondary-menu > li.li-angle > a:active {
  background: #4b6fa1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.lside-secondary-menu > li.li-angle.open a:before {
  transform: rotate(180deg);
}
.lside-secondary-menu > li.active > a {
  background: #fff;
  color: #009EF9;
}
.lside-secondary-menu > li.active > a:before {
  background: url(../image/i-angle-white.png) no-repeat center center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lside-secondary-menu ul {
  display: none;
  position: relative;
}
.lside-secondary-menu ul:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #3D5371;
}
.lside-secondary-menu ul li {
  position: relative;
}
.lside-secondary-menu ul li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid #3D5371;
}
.lside-secondary-menu ul a {
  display: block;
  line-height: 40px;
  padding: 0 20px 0 30px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 14px;
}
.lside-secondary-menu ul a:hover {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.lside-secondary-menu ul li.active a {
  color: #009EF9;
  background: #EFF1F3;
  opacity: 1;
  filter: alpha(opacity=100);
}
.lside-secondary-menu .li-num a {
  padding-right: 40px;
}
.lside-secondary-menu .li-num .num {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}
.am-page-lside-second {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #334B6D;
  width: 170px;
}
.am-page-rcont-second {
  position: absolute;
  left: 170px;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow: auto;
}
/*左侧和左侧菜单 end*/
.condition-strip-top {
  padding: 0 20px;
  background: #fff;
}
.strip-top {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.strip-top li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 50px;
  margin-right: 24px;
  cursor: pointer;
  color: #777;
}
.strip-top li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.strip-top li:hover {
  color: #009EF9;
}
.strip-top li.active {
  color: #009EF9;
}
.strip-top li.active:before {
  border-bottom: 2px solid #009EF9;
}
.card-app-o-list {
  margin-bottom: 10px;
}
.card-app-o-list:before,
.card-app-o-list:after {
  content: "";
  display: table;
}
.card-app-o-list:after {
  clear: both;
}
/* .card-app-o-list li {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 10px;
} */
/* .card-app-o-list li.active .inner {
  background: #EBF6FF;
  color: #009EF9;
  border-color: #009EF9;
} */
/* .card-app-o-list .inner {
  width: 80px;
  height: 80px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #D2D2D2;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
} */
/* .card-app-o-list .inner:hover {
  background: #EBF6FF;
  color: #009EF9;
  border-color: #009EF9;
} */
.am-condition {
  padding: 10px 0;
  position: relative;
  line-height: 30px;
  min-height: 30px;
}
.am-condition .right {
  position: absolute;
  right: 0;
  top: 10px;
}
.menu-ltr-cont {
  position: relative;
  background: #fff;
}
.menu-ltr-cont > .lside,
.menu-ltr-cont .rcont {
  height: 100%;
  border: 1px solid #E5E5E5;
}
.menu-ltr-cont > .lside {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  border-right: none;
}
.menu-ltr-cont > .rcont {
  margin-left: 200px;
  overflow: auto;
  border: 1px solid #E5E5E5;
}
.menu-ltr-edit-status > .lside {
  width: 280px;
}
.menu-ltr-edit-status > .lside .input-text{
  padding-right: 85px;
}
.menu-ltr-edit-status > .rcont {
  margin-left: 280px;
}
.strip-half-cont {
  position: relative;
  border-bottom: 1px solid #D2D2D2;
  height: 40px;
}
.strip-half {
  font-size: 0;
}
.strip-half li {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0 20px;
}
.strip-half li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.strip-half li:hover {
  color: #009EF9;
}
.strip-half li.active {
  background: #fff;
  color: #009EF9;
}
.strip-half li.active:before {
  border-bottom: 2px solid #009EF9;
}
.inner-scroll-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.inner-scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
.menu-tree .txt {
  display: block;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-tree .txt:hover {
  background: #EBF6FF;
  color: #009EF9;
}
.menu-tree li {
  position: relative;
}
.menu-tree li:before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 10px;
  right: 0;
  border-top: 1px solid #D2D2D2;
}
.menu-tree ul li:first-child:before,
.menu-tree li:first-child:before {
  display: none;
}
.menu-tree li.active > .txt {
  position: relative;
  z-index: 4;
  background: #009EF9;
  color: #fff;
}
.menu-tree li.active > .input-text {
  position: relative;
  z-index: 4;
  background: #009EF9;
  color: #fff;
}
.menu-tree ul {
  position: relative;
}
.menu-tree ul:before,
.menu-tree ul:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}
.menu-tree ul:before {
  top: 0;
  border-top: 1px solid #D2D2D2;
}
.menu-tree ul:after {
  bottom: -1px;
  border-bottom: 1px solid #D2D2D2;
}
.menu-tree .input-text {
  height: 40px;
  vertical-align: top;
  border-color: transparent;
  background: transparent;
  border-radius: 0;
}
.btn-menu-plus {
  display: block;
  position: absolute;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  z-index: 6;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-menu-plus:before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 10px;
  right: 0;
  border-top: 1px solid #D2D2D2;
}
.btn-menu-plus > a {
  display: block;
  padding: 0 15px;
}
.menu-tree .ul-1 > li:before {
  left: 25px;
}
.menu-tree .ul-1 > li > .txt,
.menu-tree .ul-1 > li > .input-text {
  padding-left: 25px;
}
.menu-tree .ul-1:before,
.menu-tree .ul-1:after {
  left: 10px;
}
.menu-tree .ul-2 > li:before {
  left: 40px;
}
.menu-tree .ul-2 > li > .txt,
.menu-tree .ul-2 > li > .input-text {
  padding-left: 40px;
}
.menu-tree .ul-2:before,
.menu-tree .ul-2:after {
  left: 25px;
}
.menu-tree .ul-3 > li:before {
  left: 55px;
}
.menu-tree .ul-3 > li > .txt,
.menu-tree .ul-3 > li > .input-text {
  padding-left: 55px;
}
.menu-tree .ul-3:before,
.menu-tree .ul-3:after {
  left: 40px;
}
.menu-sort-tool-list {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  height: 40px;
  padding: 10px 5px 0 0;
}
.menu-sort-tool-list i {
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.menu-sort-tool-list .i-menu-sort-up {
  background: url(../image/i-menu-sort-up.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-up:hover {
  background: url(../image/i-menu-sort-up-active.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-down {
  background: url(../image/i-menu-sort-down.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-down:hover {
  background: url(../image/i-menu-sort-down-active.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-plus {
  background: url(../image/i-menu-sort-plus.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-plus:hover {
  background: url(../image/i-menu-sort-plus-active.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-close {
  background: url(../image/i-menu-sort-close.svg) no-repeat center center;
}
.menu-sort-tool-list .i-menu-sort-close:hover {
  background: url(../image/i-menu-sort-close-active.svg) no-repeat center center;
}
.active>.menu-sort-tool-list>.i-menu-sort-up:hover {
  background: url(../image/i-menu-sort-up-white.svg) no-repeat center center;
}
.active>.menu-sort-tool-list>.i-menu-sort-down:hover {
  background: url(../image/i-menu-sort-down-white.svg) no-repeat center center;
}
.active>.menu-sort-tool-list>.i-menu-sort-plus:hover {
  background: url(../image/i-menu-sort-plus-white.svg) no-repeat center center;
}
.active>.menu-sort-tool-list>.i-menu-sort-close:hover {
  background: url(../image/i-menu-sort-close-white.svg) no-repeat center center;
}
.i-collapse-angle {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-top: 15px;
  margin: 15px 5px 0 0;
  background: url(../image/i-angle.png) no-repeat center center;
  transition: transform .3s;
}
.am-file-menu-img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #EFF1F3 url(../image/i-file-plus.svg) no-repeat center center;
  border: 1px solid #009EF9;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}
.am-file-menu-img:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.am-file-menu-img img {
  max-width: 80px;
  vertical-align: middle;
}
.am-file-menu-img input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.am-file-menu-img.active {
  background: #334C6D;
  border: none;
}
.am-file-menu-img.active:hover .txt {
  display: block;
}
.am-file-menu-img .txt {
  /* display: none; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  line-height: 24px;
  background: rgba(4, 4, 4, 0.5);
  text-align: center;
  font-size: 14px;
}
.control-row {
  margin-top: 20px;
}
.control-explain {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
}
.i-row-plus,
.i-row-minus {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #D2D2D2;
  border-radius: 20px;
  margin-top: 5px;
}
.i-row-plus {
  background: url(../image/i-row-plus.png) no-repeat center center;
}
.i-row-plus:hover {
  border-color: #2C81FF;
  background: url(../image/i-row-plus-hover.png) no-repeat center center;
}
.i-row-minus {
  background: url(../image/i-row-minus.png) no-repeat center center;
}
.i-row-minus:hover {
  border-color: #2C81FF;
  background: url(../image/i-row-minus-hover.png) no-repeat center center;
}
.control-collapse > .hd {
  border: 1px solid #D2D2D2;
  line-height: 28px;
  border-radius: 2px;
  min-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}
.control-collapse .i-collapse-angle {
  margin-top: 10px;
  transform: rotate(-90deg);
}
.control-collapse > .bd {
  display: none;
  position: relative;
  border: 1px solid #D2D2D2;
  border-top: none;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: amSlideUpIn;
  animation-name: amSlideUpIn;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.control-collapse.open > .bd {
  display: block;
}
.control-collapse.open > .hd {
  border-color: #00AE58;
}
.control-collapse.open .i-collapse-angle {
  transform: rotate(0);
}
.chk-panel > .hd {
  line-height: 40px;
  border-bottom: 1px dashed #D2D2D2;
  margin: 0 10px;
}
.chk-panel > .bd {
  padding: 0 10px;
  overflow: auto;
}
.chk-panel > .bd:before,
.chk-panel > .bd:after {
  content: "";
  display: table;
}
.chk-panel > .bd:after {
  clear: both;
}
.chk-panel > .bd ul {
  font-size: 0;
  padding-bottom: 10px;
}
.chk-panel > .bd li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 25%;
  line-height: 20px;
  margin-top: 10px;
}
.chk-panel > .bd .am-ctr-native-chk span {
  padding-right: 8px;
}
.chk-panel > .ft {
  border-top: 1px dashed #D2D2D2;
  margin: 0 10px;
  padding: 10px 0;
}
/* 5.14 */
.strip-top-close {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.strip-top-close li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
  color: #777;
  padding: 0 30px 0 20px;
}
.strip-top-close li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.strip-top-close li:hover {
  color: #009EF9;
}
.strip-top-close li.active {
  color: #009EF9;
}
.strip-top-close li.active:before {
  border-bottom: 2px solid #009EF9;
}
.strip-top-close .i-label-close {
  display: none;
  position: absolute;
  right: 5px;
  top: 15px;
}
.strip-top-close li:hover .i-label-close {
  display: block;
}
.i-label-close {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(../image/i-label-close.png) no-repeat center center;
}
.i-label-close:hover {
  background: url(../image/i-label-close-hover.png) no-repeat center center;
}
.no-data-explain-middle {
  position: absolute;
  left: 170px;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #888;
}
.no-data-explain-middle:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.no-data-explain-middle > .inner {
  display: inline-block;
  vertical-align: middle;
}
.no-data-explain-middle .i-guide-line {
  position: absolute;
  left: 50%;
  right: 25px;
  top: 10px;
  bottom: 50%;
  margin-left: 80px;
  background: url(../image/guide-line.png) no-repeat center center;
  background-size: 100% 100%;
  margin-bottom: 10px;
}

.tool-right {
  position: absolute;
  right: 0;
  top: 0;
}
.tool-list > a {
  float: left;
  height: 50px;
  width: 50px;
  /* border-left: 1px solid #E5E5E5; */
}
.tool-list > a:hover {
  background-color: #f3f3f3;
}
.tool-list .tool-plus {
  background: url(../image/i-label-close.png) no-repeat center center;
}
/* 5.14 end */
.card-app-o-list {
  margin-bottom: 10px;
  font-size: 0;
}
.card-app-o-list:before,
.card-app-o-list:after {
  content: "";
  display: table;
}
.card-app-o-list:after {
  clear: both;
}
.card-app-o-list li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
  margin-top: 10px;
}
.card-app-o-list li .inner {
  cursor: pointer;
}
.card-app-o-list li .inner:hover {
  color: #2C81FF;
}
.card-app-o-list li.active .inner {
  background: #EBF6FF;
  color: #009EF9;
  border-color: #009EF9;
}
.card-app-o-list img {
  vertical-align: top;
  width: 60px;
  height: 60px;
}
.card-app-o-list h4 {
  margin: 5px 5px 0 5px;
  font-size: 14px;
}
/*2018-05-18*/
.gn-middle {
  height: 100%;
  text-align: center;
}
.gn-middle:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.gn-middle > .inner {
  display: inline-block;
  vertical-align: middle;
}
.am-pop-hd {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #F7F7F7;
  padding: 0 20px;
  font-size: 16px;
}
.am-pop-hd:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
.am-pop-hd .i-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: url(../image/i-pop-close.png) no-repeat center center;
}
.am-pop-hd .i-close:hover {
  opacity: .7;
}
.am-pop-bd {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  padding: 20px;
  overflow: auto;
  background: #fff;
}
.am-pop-ft {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #D2D2D2;
}
.data-source-list {
  margin: -20px 0 0 -20px;
}
.data-source-list li {
  float: left;
  margin: 20px 0 0 20px;
  width: 80px;
  height: 80px;
  border: 1px dashed #D2D2D2;
  text-align: center;
  border-radius: 50%;
}
.data-source-list li:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.data-source-list .inner {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
.data-source-list .btn-data-source-plus {
  background: url(../image/i-plus-lg.png) no-repeat center center;
  cursor: pointer;
}
.data-source-list .btn-data-source-plus:hover {
  border-color: #00AE58;
  background: url(../image/i-plus-lg-hover.png) no-repeat center center;
}
.am-file-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 28px;
  min-width: 90px;
  border: 1px solid #00AE58;
  color: #00AE58;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}
.am-file-btn input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.am-file-btn:hover:hover {
  color: #006231;
  border-color: #006231;
}
.file-after-list {
  margin-top: 5px;
}
.file-after-list li {
  position: relative;
  line-height: 20px;
  background: url(../image/i-annex.png) no-repeat 5px center;
  padding: 5px 20px 5px 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.file-after-list li:hover {
  background-color: #eef4fb;
}
.file-after-list li:hover .right {
  display: block;
}
.file-after-list li .right {
  display: none;
  position: absolute;
  right: 0;
  top: 5px;
}
.group-input-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.group-input-btn input {
  border-right: none;
  border-radius: 2px 0 0 2px;
}
.group-input-btn .am-btn {
  border-radius: 0 2px 2px 0;
}
.menu-multi-lr > .lside,
.menu-multi-lr > .rcont {
  height: 100%;
  overflow: auto;
}
.menu-multi-lr > .lside {
  float: left;
  width: 30%;
  border-right: 1px solid #D2D2D2;
}
.menu-multi-lr > .lside::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
.menu-multi-lr .rcont {
  margin-left: 30%;
  padding: 0 20px;
}
.menu-multi-lr .menu-first li {
  display: block;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-multi-lr .menu-second li {
  display: block;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-multi-lr .menu-first li,
.menu-multi-lr .menu-second li {
  border-top: 1px solid #D2D2D2;
}
.menu-multi-lr .menu-first li:hover,
.menu-multi-lr .menu-second li:hover {
  background: #EBF6FF;
  color: #009EF9;
}
.menu-multi-lr .menu-first li.active,
.menu-multi-lr .menu-second li.active {
  background: #009EF9;
  color: #fff;
}
.menu-multi-lr .menu-first li:first-child,
.menu-multi-lr .menu-second li:first-child {
  border-top: none;
}
/*2018-05-18 end*/
/* 药品编辑 */
.am-condition-top {
  position: relative;
  padding: 10px 20px;
  background: #fff;
}
.am-condition-top:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #E5E5E5;
}
.am-condition-top .right {
  position: absolute;
  right: 20px;
  top: 10px;
}
.am-msg-lg-info {
  text-align: center;
  padding: 40px 40px 8px 40px;
}
.am-msg-lg-info .inner {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  text-align: left;
}
.am-msg-lg-info .i-question-lg {
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url(../image/i-question-lg.png) no-repeat center center;
  background-size: 30px 30px;
}
/* .am-msg-lg-info .i-success-lg {
  position: absolute;
  top: -9px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url(../image/msg-success.png) no-repeat center center;
  background-size: 30px 30px;
} */
.am-msg-lg-info h3 {
  padding-right: 24px;
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.ctr-sel-chk .am-dropdown {
  overflow: visible;
  max-height: none;
}
.ctr-sel-chk .am-ctr-native-chk {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ctr-sel-chk .bd {
  overflow: auto;
  max-height: 210px;
}
.ctr-sel-chk .ft {
  border-top: 1px solid #D2D2D2;
  margin: 0 10px;
  line-height: 30px;
}
.ctr-sel-chk.dir-top .am-dropdown {
  top: auto;
  bottom: 30px;
  border-top: 1px solid #D2D2D2;
  border-bottom: none;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
}
.ctr-sel-chk.dir-top.open .caption {
  border-radius: 0 0 2px 2px;
}
.ctr-sel-lr {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.ctr-sel-lr.dir-top .am-dropdown {
  top: auto;
  bottom: 30px;
  border-top: 1px solid #D2D2D2;
  border-bottom: none;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
}
.ctr-sel-lr.dir-top.open .caption {
  border-radius: 0 0 2px 2px;
}
.ctr-sel-lr .caption {
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  display: block;
  padding: 0 26px 0 10px;
  position: relative;
  line-height: 28px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
  overflow: hidden;
}
.ctr-sel-lr .caption:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: url(../image/i-angle.png) no-repeat center center;
  transition: transform .3s;
}
.ctr-sel-lr .caption:focus {
  border-color: #00AE58;
}
.ctr-sel-lr .am-dropdown {
  width: 100%;
}
.ctr-sel-lr .am-dropdown:before,
.ctr-sel-lr .am-dropdown:after {
  content: "";
  display: table;
}
.ctr-sel-lr .am-dropdown:after {
  clear: both;
}
.ctr-sel-lr .bd {
  overflow: auto;
  max-height: 210px;
}
.ctr-sel-lr .ft {
  border-top: 1px solid #D2D2D2;
  margin: 0 10px;
  line-height: 30px;
}
.ctr-sel-lr .lside,
.ctr-sel-lr .rcont {
  float: left;
  height: 210px;
  overflow: auto;
  width: 50%;
}
.ctr-sel-lr .lside {
  border-right: 1px solid #D2D2D2;
}
.ctr-sel-lr .lside li {
  cursor: pointer;
}
.ctr-sel-lr li {
  padding: 0 10px;
}
.ctr-sel-lr li:hover {
  background: #F3F3F3;
}
.ctr-sel-lr li.active {
  color: #00AE58;
}
.no-exit-dropdown {
  visibility: hidden;
  position: fixed;
  left: -999px;
  top: -999px;
  border: 1px solid #d2d2d2;
}
/* 药品编辑end  */
